<div class="form">
  <h2 class="title">Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "body" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "primary-button" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
