<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= address.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address1:</strong>
    <%= address.address1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address2:</strong>
    <%= address.address2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address3:</strong>
    <%= address.address3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">District:</strong>
    <%= address.district %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= address.country %>
  </p>

</div>
