<div id="<%= dom_id discount %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= discount.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= discount.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Discount rate:</strong>
    <%= discount.discount_rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= discount.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= discount.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= discount.end_time %>
  </p>

</div>
