<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price cents:</strong>
    <%= product.price_cents %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight gams:</strong>
    <%= product.weight_gams %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax rate:</strong>
    <%= product.tax_rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= product.currency %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Delivery quantity:</strong>
    <%= product.delivery_quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity in stock:</strong>
    <%= product.quantity_in_stock %>
  </p>

</div>
