<div id="<%= dom_id review %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= review.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= review.rating %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= review.comment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image url:</strong>
    <%= review.image_url %>
  </p>

</div>
