<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="p-4">
      <% flash.each do |message_type, message| %>
        <% alert_class = case message_type.to_sym
            when :notice then "bg-orange-100 border-orange-500 text-orange-700"
            when :success then "bg-green-100 border-green-500 text-green-700"
            when :error then "bg-red-100 border-red-500 text-red-700"
            when :alert then "bg-yellow-100 border-yellow-500 text-yellow-700"
            else "border-gray-100 text-gray-700"
        end %>
        <div class="alert p-4 border-l-4 <%= alert_class %>">
          <%= content_tag(:p, "Be #{message_type}", class: "font-bold") %>
          <%= content_tag(:p, message) %>
        </div>
      <% end %>
      <div>
        <%= render "layouts/header" %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
        <%= render "layouts/footer" %>
      </div>
    </main>
  </body>
</html>
